body{
    background-color: rgb(9, 241, 241);
    font-family: 'Poppins', sans-serif;
 }
 .todolist{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .container{
    width: 360px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    /* margin-left: 33%; */
    margin-top: 5px;
    align-items: center;
 }
 input{
    width: 184px;
    padding: 8px;
    border: 2px solid rgb(6, 145, 145);
    outline: none;
    font-size: 19px;


 }
 button{
    width: 60px;
    height: 41px;
    background-color:pink;
    color:black;
    border: none;
    cursor: pointer;

    outline: none;
    border-radius: 2px;
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color:pink;
    color:black;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }